/7 Periodo/POO 2/Revisao/nbproject/private/
/7 Periodo/POO 2/Revisao/build/
/7 Periodo/POO 2/Revisao2/nbproject/private/
/7 Periodo/POO 2/Revisao2/build/
/7 Periodo/POO 2/Padrão Singleton/nbproject/private/
/7 Periodo/POO 2/Padrão Singleton/build/
/7 Periodo/POO 2/xAcai/target/
/7 Periodo/POO 2/xAcaiA/nbproject/private/
/7 Periodo/POO 2/xAcaiA/build/
/7 Periodo/Projeto de Sistemas/Padrão Strategy/nbproject/private/
/7 Periodo/Projeto de Sistemas/FactoryMethod/nbproject/private/
/7 Periodo/Projeto de Sistemas/FactoryMethod/build/
